body {
  font-family: Arial;
  padding: 10px;
  background: #7dc0b0;
}

section {
  border: 2px black;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin: 10px;
}

.header {
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 30px;
}

.contactinfo {
  position: fixed;
  top: 20;
  right: 0;
  width: 200px;
  font-size: 12px;
}

.about {
  float: left;
  width: 75%;
}

.skills {
  float: left;
  width: 75%;
}

.skills div {
  display: block;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
  .contactinfo {
    position: static;
  }
}
